server/model/*.onnx filter=lfs diff=lfs merge=lfs -text
server/model/*.onnx.data filter=lfs diff=lfs merge=lfs -text
server/model/*.pt filter=lfs diff=lfs merge=lfs -text
ml/artifacts/* filter=lfs diff=lfs merge=lfs -text
